#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# cambia de directorio y mustra los directorios actuales
function cdd {
  builtin cd "$@" && ls -F  | egrep --color=never '[/@]' | xargs
}

# Shortcuts
alias dl="cd ~/downloads"
alias temp="cd ~/temporal"
alias desk="cd ~/desktop"

colorflag="--color"
# List all files colorized in long format
alias ll="ls -lh ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -lhaF ${colorflag}"

# List only directories
alias lsd="ls -lhF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

alias l="ls"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# updetedb sin /mnt/c/
alias update-db='sudo updatedb -e "/mnt/c"'

# Get week number
alias week='date +%V'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

#clang, etc.
alias clang-release="clang++-6.0 -Wall -Wextra -O2 -std=c++1z"
alias clang-debug="clang++-6.0 -Wall -Wextra -g -std=c++1z"
alias clf="clang-format -fallback-style=none -i -style=file"

alias cmake-clang="cmake -DCMAKE_CXX_COMPILER=clang-6.0 -DCMAKE_CXX_COMPILER=clang++-6.0"
alias cmake-debug="cmake -DCMAKE_BUILD_TYPE=Debug"
alias cmake-release="cmake -DCMAKE_BUILD_TYPE=Release"

